.btn {
  font-weight: 300;
  display:inline-block;

  padding: 20px 60px;
  border-radius: 40px;
}

.btn-primary {
  background-color: #06BEBD;
  color: white;
}

.btn-second {
  background-color:#2C3239;
  color: white;
}
