.offline__wrapper {
    height: 100%;

    background: url('../assets/plan-our-trip.jpg') center;
    background-size: cover;
}

.offline__overlay {
    height: 100%;
    background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.8) 100%);

    display: flex;
}

.offline__container {
    font-family: "Raleway", sans-serif;
    color: white;

    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    justify-content: space-between;
}

.offline__logo {
    padding: 2rem;
}

.offline__content {
    padding: 0 2rem;
    max-width: 60rem;

    align-self: center;
    margin-bottom: 20%;
}

.offline__content h1, h2 {
    margin: 0;
}

.offline__content h1 {
    font-size: 3rem;

}

.offline__content h2 {
    font-weight: 100;
}
